# ignore visual studio code 
.vscode

# ignore venv folder
.env

# Temp file
*.txt.bak
*.bak

# temp folder
Src/__pycache__/*
Src/*/__pycache__/*

# app creation related 
Src/dist
Src/build
Src/*.spec
*.exe
*.zip

Src/Data/NameList.txt
Src/Test
Src/Data/AIDS-Students.txt
Src/Scrap
